@using BlazorApp4.Client.Pages.Employees
@page "/"

<h1>Employees</h1>

<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 text-right"><a href="/employee/create" class="btn btn-primary">New Employee</a></div>
</div>
<br />
<br />
<EmployeeList></EmployeeList>

